:root {
  --cor-destaque: #ff00aa;
}article {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--cor-destaque);
}

.card img {
  max-width: 100%;
}

button {
  align-self: flex-start;
}
